#left {
    text-align: left;
    display: inline-flexbox;
    padding-top: 14px;
    padding-left: 13px;
    float: left;
    font-size: 14px;
}

#right {
    display: inline-flexbox;
    justify-content: space-between;
    text-align: right;
    padding-top: 10px;
    padding-right: 18px;
    float: right;
    font-size: 14px;
}

#leftFooter {
    text-align: left;
    float: left;
    padding-left: 20px;
    padding-top: 5px;
}

#rightFooter {
    text-align: right;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

#left>a {
    padding: 7px;
    padding-top: 13px;
}

#right>a {
    padding: 7px;
}

body {
    background: #fff;
    color: #222;
    font-family: arial, sans-serif;
    display: block;
    text-align: center;
}

#logo {
    height: auto;
    width: 300px;
    padding-top: 210px;
    padding-left: 120px;
    text-align: center;
    padding-bottom: 20px;
}

#apps {
    height: 26px;
    width: 26px;
    opacity: 0.6;
    padding-left: 5px;
    padding-right: 2px;
    padding-bottom: 2px;
}

#profile_pic {
    border-radius: 50px;
    height: 35px;
    width: 35px;
    position: relative;
    vertical-align: middle;
}

a {
    color: rgb(88, 88, 88);
    text-decoration: none;
    padding: 13px;
    cursor: pointer;
    letter-spacing: .5px;
    font-size: 14.5px;
}

a:hover {
    text-decoration: underline;
}

#clear {
    color: #80868b;
    cursor: pointer;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
    border: none;
    display: inline-flexbox;
    text-align: right;
    margin: 0;
}

#clear:hover {
    border: none;
    box-shadow: none;
}

.solid {
    border-right: 0.1px solid rgb(206, 206, 206);
    height: 25px;
    margin-left: 10px;
    opacity: .5;
    padding-top: 3px;
}

#mic {
    opacity: .7;
    padding-right: 25px;
}

#s4 {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 48px;
    margin: 0 auto;
    width: 530px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#s4:hover {
    box-shadow: 0px 3px 5px #dfe1e5;
}

textarea:focus,
input:focus {
    outline: none;
}

#search {
    width: 400px;
    font-size: 18px;
}

i {
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 15px;
    opacity: .4;
}

input {
    writing-mode: horizontal-tb !important;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 16px Arial;
    padding: 1px 2px;
    border: none;
}

#buttons {
    background-color: #f8f8f8;
    border: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 40px;
    cursor: pointer;
    color: rgb(119, 119, 119);
}

#buttons:hover {
    color: black;
    border: 1px solid #c6c6c6;
    background-image: webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#buttons:focus {
    outline: none;
    box-shadow: 0 0 0 .5pt blue;
}

p {
    font-size: 14px;
}

.googleTV a {
    padding: 0;
}

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 35px;
    min-width: 980px;
    min-width: 400px;
    display: block;
    font-size: 11pt;
    height: 45px;
    width: 100%;
}